$btn-primary-bg: #59ABDA;
$component-active-bg: $btn-primary-bg;

$link-color: #59ABDA;
$link-hover-color: $link-color;

$navbar-default-bg: #625B54;
$navbar-default-link-color: #d1c2b3;
$navbar-default-link-hover-color: #fff;

$navbar-default-link-active-color: #fff;
$navbar-default-link-active-bg: transparent;

$dropdown-link-active-bg: $btn-primary-bg;

$badge-bg: $btn-primary-bg;

@mixin MerriweatherSans($fontWeight: 400) {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: $fontWeight;
}
